.Story {
  position: relative;
  width: 66px;
}

.Story__Content {
  padding: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.Story__Image {
  position: relative;
  padding: 2px;

  width: 62px;
  height: 62px;

  border-radius: 50%;
  margin-bottom: 8px;
}

.Story__Image:before {
  border-radius: 100%;
  content: "";
  background-image: linear-gradient(
    314.35deg,
    #e20337 6.03%,
    #c60188 40.88%,
    #7700c3 73.23%
  );
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  position: absolute;
  z-index: -1;
}

.Story__Image:after {
  border-radius: 100%;
  content: "";
  background: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.Story__Image img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  z-index: 1;
}

.Story__Live {
  width: 36px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 16px;
  color: #ffffff;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
      125.85deg,
      #c90083 10.82%,
      #d22463 29.29%,
      #e10038 93.41%
    ),
    linear-gradient(0deg, #fefefe, #fefefe);
  border-radius: 3px;
  border: 2px solid #ffffff;
  font-size: 10px;
}

.Story__Username {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  text-align: center;
}

.Story__Username p {
  padding: 0;
  margin: 0;
}
